#container h1{
  width: 100%;
  text-align: center;
}

#container .gender{
  margin-left: 13px;
}

#container button{
  width: 90%;
  color: white;
  background-color: #3880ff;
  height: 50px;
  margin: 5%;
}